{{#partial "content"}}
        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h1>{{ post.title }}</h1>
                        <time datetime="{{ post.creationDate }}">{{ post.creationDate }}</time>
                        <div class="entry">
                        <p> {{ post.body }}</p>
                            <p><a class="link" href="/edit/{{ post.slug }}">Edit Entry</a></p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="entry-comments">
            <div class="container">
                    <h2>Comments</h2>
                {{#each comments }}
                    <div class="comment">
                        <strong>{{ author }}</strong>
                        <time datetime="{{ creationDate }}">{{ creationDate }}</time>
                        <p>{{ body }}</p>
                    </div>
                {{/each}}
                    <div class="new-comment">
                        <form action="/detail/{{ post.slug }}/comment" method="post">
                              <label for="name"> Name</label>
                              <input type="text" name="name"><br>
                              <label for="comment">Comment</label>
                              <textarea rows="5" name="comment"></textarea>
                              <input type="submit" value="Post Comment" class="button">
                        </form>
                    </div>
            </div>
        </section>
{{/partial}}
{{> base.hbs}}
